#jinja2: trim_blocks:False
[Interface]
PrivateKey = {% if item.wireguard_client_key is defined %}{{ item.wireguard_client_key }}{% else %}<Enter here your private key>{% endif %}
Address = {% if wireguard_enable_ipv4 == true %} {{ wireguard_network_ipv4 }}.{{ item.wireguard_client_id + 1 }}/32, {% endif %} {% if wireguard_enable_ipv6 == true %} {{ wireguard_network_ipv6 }}:{{ (item.wireguard_client_id + 1)| hex_id }}/128, {% endif %}
DNS = {% if wireguard_enable_ipv4 == true %} {{ dns_ipv4_1 }}, {{ dns_ipv4_2 }}, {% endif %} {% if wireguard_enable_ipv6 == true %} {{ dns_ipv6_1 }}, {{ dns_ipv6_2 }}, {% endif %}

[Peer]
PublicKey = {{ wireguard_server_pub.stdout }}
Endpoint = {{ inventory_hostname }}:{{ wireguard_port }}
AllowedIPs = {% if wireguard_enable_ipv4 == true %} {{ wireguard_allowed_ipv4 }}, {% endif %} {% if wireguard_enable_ipv6 == true %} {{ wireguard_allowed_ipv6 }}, {% endif %}
