#jinja2: trim_blocks:False
[Interface]
Address = {% if wireguard_enable_ipv4 == true %} {{ wireguard_network_ipv4 }}.1/24, {% endif %} {% if wireguard_enable_ipv6 == true %} {{ wireguard_network_ipv6 }}.1/64, {% endif %}
ListenPort = {{ wireguard_port }}
PrivateKey = {{ wireguard_server_key.stdout }}
PostUp = {% if wireguard_enable_ipv4 == true %} iptables -A FORWARD -i {{ wireguard_interface }} -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ public_interface }} -j MASQUERADE; {% endif %} {% if wireguard_enable_ipv6 == true %} ip6tables -A FORWARD -i {{ wireguard_interface }} -j ACCEPT; ip6tables -t nat -A POSTROUTING -o {{ public_interface }} -j MASQUERADE; {% endif %}
PostDown = {% if wireguard_enable_ipv4 == true %} iptables -D FORWARD -i {{ wireguard_interface }} -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ public_interface }} -j MASQUERADE; {% endif %} {% if wireguard_enable_ipv6 == true %} ip6tables -D FORWARD -i {{ wireguard_interface }} -j ACCEPT; ip6tables -t nat -D POSTROUTING -o {{ public_interface }} -j MASQUERADE; {% endif %}

{% if (wireguard_stat_result.stat.exists == true) and (peers_list is defined) %}
{% for peer in peers_list %}
[Peer]
# Comment {{ peer.username }}-{{ peer.device }} 
PublicKey = {{ peer.wireguard_client_pub }}
AllowedIPs = {% if wireguard_enable_ipv4 == true %} {{ wireguard_network_ipv4 }}.{{ peer.wireguard_client_id + 1 }}/32, {% endif %} {% if wireguard_enable_ipv6 == true %} {{ wireguard_network_ipv6 }}:{{ (peer.wireguard_client_id + 1)| hex_id }}/128, {% endif %}

{% endfor %}
{% else %}
{% endif %}
